body{
    background: linear-gradient(90deg, #c2c2bc 0%, #504e4c 100%);
    text-align:center;

}
#container{
    background: transparent;
    display: flex;
    flex-direction: column;
}
button{
    font-size: 300%;
    width: 20vw;
    height: 20vh;
    border-radius: 30%;
}
.hidden{
    display: none;
}
button:hover{
    transform: scale(1.08);
    border: yellow;
    border-style: solid;
    border-width: 30%; 
}
button:active{
    transform: scale(1.2);
    border: yellow;
    border-style: solid;
    border-width: 30%; 
}
#options{
    display: flex;
    margin-top: 30vh;
    justify-content: space-around;
    flex-wrap: wrap;
}
